*.npy
*.out
RebuttalExperiments/*.out
RebuttalExperiments/results/*.npy
RebuttalExperiments/*.ipynb
RebuttalExperiments/*.ipynb_checkpoints
RebuttalExperiments/__pycache__
RebuttalExperiments/*.sh
RebuttalExperiments/figs/*
